.row{
    display:flex;
    flex-direction:row;
    width: 100%;
    flex-wrap: wrap;
   }
#banner-text{
    height: 350px;
    text-align: center;  
}

#banner-text h3{
    margin-top: 100px;
}

#banner-text h1{
    margin-top: 2px;
}

#banner-text h2{
    margin-top: 2px;
}

#banner-video{
    height: 350px;
}

#banner-video video{
    height: 100%;
    width: 100%;
}

#banner-image{
    height: 68vh;
    width: 100%;

}

#banner-image img{
    height: 69vh;
}
