

  .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff4c6;
    padding: 20px;
    width: 100%;
  }

  .banner-text {
    width: 50%;
    text-align: left;
    color: #005486;
  }

  .banner-image {
    width: 50%;
  }

  @media(max-width:830px){
    .banner-text, .banner-image {
      width: 90%;
      text-align: center;
      flex-wrap: wrap;
    }


  }

  @media (max-width: 768px) {
    .banner-text, .banner-image {
      width: 62%;
      text-align: center;
      flex-wrap: wrap;
    }
    .banner-text h1{
      font-size: 19px;
    }
    .banner-text h3{
      font-size: 16px;
    }
    .banner-image img{
        width: 100%;
      }
    
  }
  


  