.row{
    margin-bottom: -1%;
}

#youtube-row{
    background-color: #fffcef;
    margin-bottom: -1%;
}
#carousel{
    background-color: #fffcef;
    margin-bottom: -1%;
    margin-left: 0.5%;
}

#card-info{
    margin-top: 2%; 
}
#card-header{
    text-align: center;
    margin-top: 1%;
    font-weight: bold; 
}

#carousel{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#carousel-card{
    margin-top: 1px;
}

.card-title{
    text-align: center;
    color:#005486 ;
}

#circles-logo{
    height: 50vh;
    width: 100%;
}

#circles-div{
    background-image: url("./parallax/circles.png");
    height: 20vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1.5%;

}

@media only screen and (max-device-width: 1366px) {
    #circles-div{
        background-attachment: fixed;
        height: 15vh;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

#join-card{
    height: 30%;
       
}

#card-join{
    height: 4%;
    margin-top: -2%;

}

#card-join img{
    height: 50px;
    width: 50px;
    align-self: center;
}

#video-div{
    width: 100%;
    height: 160px;
}

#youtube-vid iframe{
    width:100%; 
    height:45vh;
}
#div-carousel{
    background-color: #fffcef;
    margin: -1%;    
}

#circles-header{
    text-align: center;
    margin-top: 1%;
}

#card-circles{
    height: 3%;
    padding: 10px;

}

#row-circles{
    margin-top: 2%;
}


/* image gallery */

