.navbar-nav .nav-item{
    margin-right: 10px;
    color: white;
}
#header-nav{
    background-color: white !important;
    font-size: 20px;
}
.nav-list{
    margin-left: 55%;
    color: white;
}
.nav-list ul li{
    margin-right: 1%;
}

.nav-link{
    color: white;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: white;
    margin-right: 5%;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #005486;
    margin-bottom: 5px;
    margin-top: 2px;
}
.container-logo{
    margin-left: 4%;
}

